
<div class="col-md-3">
  <div class="jumbotron">

    <h3><%= @question.title %></h3>
    <br>
    <p><%= @question.content %></p>
    <br>
    <%= render 'form', answer: @answer %>
  </div>
  </div>


